* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    color: #333;
    background-color: #fff;
}

.main {
    display: flex;
}

.header {
    width: 200px;
}

.logo {
    padding: 20px 0;
}

.gnbWrap {
    padding: 10px;
}

.gnb {
    text-align: center;
    position: relative;
}

.gnb li {
    position: relative;
    margin-bottom: -1px;
}

.gnb > li > a {
    display: block;
    /* padding: 16px; */
    height: 56px;
    line-height: 56px;
    border: 1px solid #999;
}

.gnb > li:hover > a {
    background-color: #ddd;
}

.gnb::after {
    content: "";
    width: calc(100vw - 190px);
    height: 100%;
    background-color: #ddd;
    position: absolute;
    top: 0;
    left: 180px;
    display: none;
}

.gnb .sub {
    position: absolute;
    top: 6px;
    left: 200px;
    display: flex;
    z-index: 1;
    width: 600px;
    /* gap: 30px; */
    display: none;
}

.gnb .sub a {
    display: block;
    height: 40px;
    line-height: 40px;
}

.sub li {
    width: 120px;
    height: 40px;
}

.sub a:hover {
    background-color: #666;
    color: #fff;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.user a {
    display: block;
    padding: 0 20px;
    border-right: 1px solid #999;
}

.user a:last-child {
    border: none;
}

.user a:hover {
    text-decoration: underline;
}

.contents {
    /* flex: 1; */
    width: calc(100% - 200px);
}

.slider {
    height: 400px;
    position: relative;
    overflow: hidden;
}

.sliders {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.slide {
    position: relative;
    height: 400px;
    width: 100%;
}

.slide h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #fff;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.links {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    padding: 14px 10px;
    text-align: center;
}

.links li {
    border-bottom: 1px solid #999;
    margin-bottom: 13px;
    padding-bottom: 10px;
}

.links li:last-child {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.links img {
    /* width: 100px; */
}

.links p {
    font-size: 14px;
}

.bWrap {
    height: 200px;
    padding: 20px;
    background-color: green;
}

.banner {
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid #999;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
}

.banner img {
    /* width: 160px; */
}

.banner .icon {
    width: 40px;
    height: 40px;
    border-top: 6px solid #999;
    border-right: 6px solid #999;
    transform: rotate(45deg);
    margin-right: 20px;
}

.banner .texts {
    flex: 1;
}

.banner .texts h4 {
    font-size: 20px;
    margin-bottom: 8px;
}

.tab {
    height: 250px;
    padding: 20px;
}

.tTitle {
    display: flex;
    padding-left: 20px;
    margin-bottom: -1px;
}

.tTitle h3 {
    width: 160px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #ddd;
    border: 1px solid #999;
    cursor: pointer;
}

.tTitle h3.active {
    background-color: #fff;
    border-bottom: 1px solid #fff;

}

.tContents {}

.noti {
    border: 1px solid #666;
    padding: 20px 36px;
}

.noti li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.noti a {
    display: block;
    padding: 4px 0;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.noti a:hover {
    text-decoration: underline;
}

.gallery {
    display: none;
}

.footer {
    display: flex;
    height: 100px;
    align-items: center;
    background-color: #ddd;
}

.fLogo {
    width: 200px;
    filter: grayscale(100%);
}

.fContents {
    flex: 1;
}

.sns {
    width: 250px;
}