*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit
}

body {
    color: #333;
    background-color: #fff;
}

.wrap {
    width: 1000px;
    box-sizing: border-box;
    overflow: hidden;
}

.header {
    float: left;
    width: 200px;
    height: 650px;
}

.logo {
    width: 200px;
    padding: 30px 0;
    background-color: #fff;
}

.logo img{
    width: 200px;
    height: 40px;
}

.gnb {
    width: 100%;
    text-align: center;
}

.gnb > li {
    position: relative;
}

.gnb > li > a {
    display: block;
    height: 100px;
    line-height: 100px;
}

.gnb > li:hover > a {
    color: #fff;
    background-color: #f4a5b9;
}

.gnb .sub {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    text-align: center;
    border: 1px solid #f4a5b9;
    background-color: #fff;
    z-index: 1;
}

.gnb .sub li:hover {
    background-color: #f4a5b9;
    color: #fff;
}

.gnb .sub li a {
    display: block;
}

.slider {
    height: 350px;
    overflow: hidden;
    position: relative;
}

.sliders {
    position: absolute;
    top: 0;
    left: 0;
}

.slide {
    position: relative;
}

.slide h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 40px;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 8px rgba(0, 0, 0, 1);    
}

.slide img {
    display: block;
}

.contents {
    height: 200px;
    display: flex;
    justify-content: space-between;
}

.contents > div {
    width: 33.3%;
}

.nTitle h3 a{
    background-color: #f4a5b9;
    color: #fff;
}

.nContents {
    border: 1px solid #f4a5b9;
}

.noti {
    justify-content: space-between;
}

.noti li {
    justify-content: space-between;
    align-items: center;
}

.noti li a {
    width: 70%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gTitle h3 a {
    background-color: #f4a5b9;
    color: #fff
}

.gImgs {
    height: 170px;
    padding: 40px 0px;
    text-align: center;
    border: 1px solid #f4a5b9;
}

.contents .link {
    position: relative;
}

.contents .link h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 20px;
    text-shadow: 3px 3px 8px #000;
    transform: translate(-50%, -50%);
}

.contents .link img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}



.footer {
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #ddd;
    justify-content: space-between;
}

.copy {
    margin-top: 55px;
}

.fCon {
    text-align: center;
    justify-content: center;
}

.fCon .sns {
    display: flex;
    gap: 60px;
    justify-content: center;
}

.fCon .sns img{
    width: 50px;
    height: 50px;

}


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 315px;
    background-color: #fff;
    border: 1px solid #333;
    padding: 30px;
    display: none;
}

.modal h3 {
    font-size: 24px;
}
.modal p {
    margin: 20px 0;
    line-height: 1.5;
}
.modal button {
    border: none;
    padding: 6px 10px;
    background-color: #333;
    color: #fff;
}